body{
    font-family: 'Courier New', Courier, monospace;
}
/*--- header ---*/
.header{
    position: relative;
}
header > div:first-child{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 10px;
    z-index: 1;
}
.logo{
    float: left;
}
.logo img{
    height: 50px;
    margin-right: 10px;
}
header nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
header nav ul li{
    display: inline;
    margin-left: 15px;
}
header nav a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    color: white;
}
header nav ul a:hover{
    background-color: rgb(20, 0, 6);
}
.welcome-to-physics{
    background-image: url('../project/images/b-dark-2.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
}
h1{
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-top: 250px;
    padding-bottom: 100px;
    text-shadow: 1px 1px 1px #4c533d;
}
.welcome-to-physics{
    background-color: rgba(20, 20, 20, 0.8);
    color: white;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

/* --- about-physics --- */
#about-physics{
    padding: 50px 20px;
}
#about-physics > div{
    position: relative;
}
.about-physics-images{
    /*background-image: url("../images/about-physics-1.jpg");*/
    background-color: darkslategrey;
    height: 150px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#about-physics h2{
    position: absolute;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5cm;
    margin: 0;
    color: white;
    text-shadow: 0 0 5px black;
}
#about-physics img{
    max-width: 200px;
    float: left;
    padding-right: 20px;
}
#about-physics p{
    font-size: 1.1cm;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 40px;
}
#about-physics p::after{
    content: '';
    clear: both;
    display: table;
}
/* --- chapters ---*/
.chapters{
    background-color: grey;
}
.chapters h2{
    text-align: center;
    padding: 20px;
    margin: 0px;
    text-transform: uppercase;
}
.chapters-background{
    background-image: url('../project/images/electric-600x600.jpg');
    height: 100px;
}
